@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: Supercell;
  src: url(./assets/Supercell-magic-webfont.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(./assets/background.jpg) no-repeat; */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
  background-attachment: fixed !important;
  background-color: black !important;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, hsla(37, 100%, 50%, 1) 0%, hsla(48, 97%, 55%, 1) 100%);
}

body::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(90deg, hsla(48, 97%, 55%, 1) 0%, hsla(37, 100%, 50%, 1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* Screen Resolution Big screen Laptop 1920x1080 Media:- */
@media only screen and (min-width: 1920px) {}

/* For MacBook Pro Laptop 1440x990 Media Query:- */
@media only screen and (min-width: 1367px) and (max-width: 1649px) {}

/* For Small Desktop Screen Resolution 1366x768 Media:- */
@media only screen and (max-width: 1366px) {}

/* For Ipad-Pro devices 1024x1366 Media Query:- */
@media only screen and (min-width: 992px) and (max-width: 1024px) {}


/* For Ipad devices 768x1024 Media Query:- */
@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* For Mobile devices and tablet both Media Query:- */
@media only screen and (max-width: 991px) {
  .card_divider {
    display: none;
  }
}

/* For Mobile devices Media Query:- */
@media only screen and (max-width: 767px) {
  .header_logo img {
    width: 300px;
    margin-top: 3rem;
  }
}

/* .header_logo {
  padding-top: 0rem;
} */
